{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroups": [
          {
            "pattern": "*(react-native|native-base)",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "*(react-native|native-base)",
          "react"
        ],
        "groups": [
          "builtin",
          "external",
          [
            "sibling",
            "parent"
          ],
          "index",
          "object"
          // Then the rest: internal and external type
        ]
      }
    ]
  },
  "ignorePatterns": [
    "src/**/*.test.ts",
    "src/frontend/generated/*",
    "dist/**/*",
    "vite.config.ts",
    "**/*.js"
  ]
}
